# Assignment 1 Day 2 

1. Try 5 Different functions of the String in Python

In [19]:
studentname = "manikandan letsupgrade"

In [20]:
studentname

'manikandan letsupgrade'

In [21]:
studentname.capitalize()

'Manikandan letsupgrade'

In [27]:
studentname.swapcase()

'MANIKANDAN LETSUPGRADE'

In [34]:
studentname.find("MANIKANDAN")

-1

In [50]:
studentname = "MANIKANDAN A"

In [51]:
studentname.isupper()

True

In [52]:
studentname.lower()

'manikandan a'

# Assignmet 2 Day 2 

2. Try 5 Differet functions of the List object in Python

In [54]:
lst = [2,4,6,8,"MANIKANDAN","BCA",34.5]

In [55]:
lst

[2, 4, 6, 8, 'MANIKANDAN', 'BCA', 34.5]

In [59]:
lst.index(6)

2

In [60]:
lst.insert(7,21.4)

In [61]:
lst

[2, 4, 6, 8, 'MANIKANDAN', 'BCA', 34.5, 21.4]

In [62]:
lst.pop(3)

8

In [63]:
lst

[2, 4, 6, 'MANIKANDAN', 'BCA', 34.5, 21.4]

In [64]:
lst.reverse()

In [65]:
lst

[21.4, 34.5, 'BCA', 'MANIKANDAN', 6, 4, 2]

In [66]:
lst.append("End")

In [67]:
lst

[21.4, 34.5, 'BCA', 'MANIKANDAN', 6, 4, 2, 'End']

# Assignmet 3 Day 2 

3. Experiment with atleast 5 default functions of Dict

In [68]:
dit = {"name":"Manikandan","age":"20","designation":"Student"}

In [69]:
dit

{'name': 'Manikandan', 'age': '20', 'designation': 'Student'}

In [71]:
dit.get("name")

'Manikandan'

In [77]:
dit.update({"name":"A.Manikandan"})

In [78]:
dit

{'name': 'A.Manikandan', 'age': '20', 'designation': 'Student'}

In [79]:
dit.values()

dict_values(['A.Manikandan', '20', 'Student'])

In [80]:
dit.keys()

dict_keys(['name', 'age', 'designation'])

In [81]:
dit.pop("designation")

'Student'

In [82]:
dit

{'name': 'A.Manikandan', 'age': '20'}